<section class="flex w-full flex-1 px-16">
  <div class="flex-1 gap-10 flex flex-col justify-evenly text-darkTextGrey">
    <h1 class="text-5xl font-semibold leading-58">
      Зрости Гай - ідеальний помічник у світі рослин
    </h1>
    <p class="text-xl">
      Отримуйте експертну інформацію про рослини та догляд за ними
    </p>
    <div class="flex w-full justify-evenly">
      <a
        href="#"
        class="bg-darkGreen text-white px-4 py-3 rounded-full font-play flex-nowrap flex">
        <img
          src="{{ url_for('static', filename='img/appstore.svg') }}"
          alt="App store Icon"
          class="h-6 w-6 mr-2" />
        Скачати в Apple Store
      </a>
      <a
        href="#"
        class="bg-darkGreen text-white px-4 py-3 rounded-full font-play flex-nowrap flex">
        <img
          src="{{ url_for('static', filename='img/googleplay.svg') }}"
          alt="Google Play Icon"
          class="h-6 w-6 mr-2" />
        Скачати в Google Play
      </a>
    </div>
  </div>
  <div class="flex-1 self-end">
    <img
      src="{{ url_for('static', filename='img/phone-main.png') }}"
      alt=""
      class="w-full" />
  </div>
</section>
