<section class="flex flex-col gap-10 items-center text-darkTextGrey">
  <h1 class="text-5xl font-semibold leading-58 pt-6">
    Приєднуйтесь до спільноти Зрости Гай
  </h1>
  <p class="text-xl w-700">
    Почніть свою подорож догляду за рослинами вже сьогодні. Досліджуйте,
    дізнавайтеся нове та діліться своєю любов'ю до природи!
  </p>
  <div class="flex w-full justify-evenly">
    <a
      href="#"
      class="bg-darkGreen text-white px-4 py-3 rounded-full font-play flex-nowrap flex">
      <img
        src="{{ url_for('static', filename='img/appstore.svg') }}"
        alt="App store Icon"
        class="h-6 w-6 mr-2" />
      Скачати в Apple Store
    </a>
    <a
      href="#"
      class="bg-darkGreen text-white px-4 py-3 rounded-full font-play flex-nowrap flex">
      <img
        src="{{ url_for('static', filename='img/googleplay.svg') }}"
        alt="Google Play Icon"
        class="h-6 w-6 mr-2" />
      Скачати в Google Play
    </a>
  </div>
</section>
